openapi: 3.1.0
info:
  title: TheMobileProf API
  description: |
    RESTful API for TheMobileProf Learning Management System (LMS) that supports course management, 
    user authentication, sponsorship programs, testing systems, file uploads, and more.

    **Test Type Rule**: 
    - Only `lesson_id` is nullable in the tests table.
    - If a test has both `course_id` and `lesson_id`, it is a **lesson test** (attached to a specific lesson).
    - If a test has a `course_id` but no `lesson_id`, it is a **course test** (attached to the course as a whole).

    **100% Discount Logic (Free Enrollments):**
    - **Automatic Handling**: When sponsorship codes provide 100% discount, the system automatically handles free enrollments
    - **Payment Flow**: Free enrollments skip Flutterwave payment processing and create enrollments immediately
    - **Response Format**: Free enrollments return `is_free_enrollment: true` flag with immediate enrollment data
    - **No Verification Required**: Free enrollments don't require payment verification since they're already successful

    **Payment Flow Types:**
    1. **Regular Payments**: User provides payment details → Flutterwave payment → Verification → Enrollment
    2. **Free Enrollments**: Sponsorship code with 100% discount → Immediate enrollment → No payment processing

    **Sponsorship Code Flow (Important for Frontend):**
    ```
    1. User enters discount code "SPONSOR123"
    2. Frontend validates: GET /api/sponsorships/code/SPONSOR123
    3. Response includes: sponsorship.id = "uuid-here"
    4. Frontend enrolls: POST /api/courses/{courseId}/enroll
        Body: { "sponsorshipId": "uuid-here" }
    ```

    **Key Points:**
    - **NEVER send discount codes directly** to enrollment endpoints
    - **ALWAYS validate first** to get the sponsorship UUID
    - **Use sponsorship.id** (UUID), not the discount code string
    - **Check isExpired and isFull** before allowing enrollment

    **Admin Sponsorship Management:**
    - **Create Sponsorships**: POST /api/admin/sponsorships (multi-course support)
    - **Payment Tracking**: GET /api/admin/sponsorships/{id}/payment-status
    - **Mark as Paid**: POST /api/admin/sponsorships/{id}/mark-paid (offline payments)
    - **Generate Invoices**: GET /api/admin/sponsorships/{id}/invoice
    - **Admin Features**: Support for offline payments, invoice generation, multi-course sponsorships

    **Implementation Status**: All documented endpoints are fully implemented and tested, including the complete file upload system with persistent storage support and comprehensive sponsorship discount handling.
  version: 1.0.0
  contact:
    name: TheMobileProf API Support
    email: api-support@themobileprof.com
    url: 'https://docs.themobileprof.com'
  license:
    name: Proprietary
    url: 'https://themobileprof.com/license'
servers:
  - url: 'https://api.themobileprof.com/api'
    description: Production server
  - url: 'http://localhost:3000/api'
    description: Development server
security:
  - BearerAuth: []
paths:
  /auth/register:
    post:
      tags:
        - Authentication
      summary: Register User
      description: Register a new user with email and password
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
                - firstName
                - lastName
              properties:
                email:
                  type: string
                  format: email
                  description: User email address
                password:
                  type: string
                  minLength: 6
                  description: User password
                firstName:
                  type: string
                  minLength: 1
                  description: User first name
                lastName:
                  type: string
                  minLength: 1
                  description: User last name
                role:
                  type: string
                  enum:
                    - student
                    - instructor
                    - admin
                    - sponsor
                  default: student
                  description: User role
      responses:
        '201':
          description: User registered successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    $ref: '#/components/schemas/User'
                  token:
                    type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          $ref: '#/components/responses/Conflict'
  /auth/login:
    post:
      tags:
        - Authentication
      summary: Login User
      description: Authenticate user with email and password
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    $ref: '#/components/schemas/User'
                  token:
                    type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Email verification required
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    enum:
                      - EMAIL_VERIFICATION_REQUIRED
                  message:
                    type: string
  /auth/google:
    post:
      tags:
        - Authentication
      summary: Google OAuth Login/Signup
      description: |
        Authenticate or register user with Google OAuth.
        - If user exists with Google ID, logs them in
        - If user exists with email but different auth provider, links Google account
        - If user doesn't exist, creates new account
        - Google profile picture is automatically set as avatar
        - Email verification status is set based on Google's verification
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - token
              properties:
                token:
                  type: string
                  description: Google ID token
                firstName:
                  type: string
                  description: 'Optional, will use Google data if not provided'
                lastName:
                  type: string
                  description: 'Optional, will use Google data if not provided'
                role:
                  type: string
                  enum:
                    - student
                    - instructor
                    - admin
                    - sponsor
                  default: student
                  description: User role
      responses:
        '200':
          description: Google authentication successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    $ref: '#/components/schemas/User'
                  token:
                    type: string
        '201':
          description: New user created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    $ref: '#/components/schemas/User'
                  token:
                    type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
  /auth/me:
    get:
      tags:
        - Authentication
      summary: Get Current User
      description: Get current user information
      security:
        - BearerAuth: []
      responses:
        '200':
          description: User information retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    $ref: '#/components/schemas/User'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /auth/profile:
    get:
      tags:
        - Authentication
      summary: Get Current User Profile (Frontend Compatible)
      description: Get current user profile in frontend-compatible format
      security:
        - BearerAuth: []
      responses:
        '200':
          description: User profile retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserProfile'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /auth/refresh:
    post:
      tags:
        - Authentication
      summary: Refresh Token
      description: Refresh JWT token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - token
              properties:
                token:
                  type: string
                  description: JWT token to refresh
      responses:
        '200':
          description: Token refreshed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                    description: New JWT token
                  user:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                      email:
                        type: string
                      role:
                        type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /auth/logout:
    post:
      tags:
        - Authentication
      summary: Logout User
      description: Logout user (client-side token removal)
      responses:
        '200':
          description: Logout successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Success message
  /auth/change-password:
    post:
      tags:
        - Authentication
      summary: Change Password
      description: Change user password (only for local authentication users)
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - currentPassword
                - newPassword
              properties:
                currentPassword:
                  type: string
                  description: Current password
                newPassword:
                  type: string
                  minLength: 6
                  description: New password
      responses:
        '200':
          description: Password changed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Success message
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /auth/forgot-password:
    post:
      tags:
        - Authentication
      summary: Request Password Reset
      description: Request a password reset link. Always returns success to avoid account enumeration.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
              properties:
                email:
                  type: string
                  format: email
      responses:
        '200':
          description: 'If the email exists, reset instructions will be sent'
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '400':
          $ref: '#/components/responses/BadRequest'
  /auth/reset-password:
    post:
      tags:
        - Authentication
      summary: Reset Password
      description: Reset password using a valid reset token. Not available for Google OAuth accounts.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - token
                - newPassword
              properties:
                token:
                  type: string
                newPassword:
                  type: string
                  minLength: 6
      responses:
        '200':
          description: Password reset successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '400':
          $ref: '#/components/responses/BadRequest'
  /auth/verify-email:
    post:
      tags:
        - Authentication
      summary: Verify Email
      description: Verify a user's email using a verification token
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - token
              properties:
                token:
                  type: string
      responses:
        '200':
          description: Email verified successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '400':
          $ref: '#/components/responses/BadRequest'
  /auth/resend-verification:
    post:
      tags:
        - Authentication
      summary: Resend Verification Email (by email)
      description: Resend the verification email. Always returns success to avoid account enumeration.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
              properties:
                email:
                  type: string
                  format: email
      responses:
        '200':
          description: Verification email sent if account exists and is unverified
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '400':
          $ref: '#/components/responses/BadRequest'
  /auth/me/resend-verification:
    post:
      tags:
        - Authentication
      summary: Resend Verification Email (current user)
      description: Resend the verification email for the authenticated user
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Verification email sent
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
  '/auth/admin/users/{id}/resend-verification':
    post:
      tags:
        - Authentication
      summary: Admin Resend Verification Email for User
      description: Admin can resend verification email for any user
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Verification email sent
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /auth/admin/login:
    post:
      tags:
        - Authentication
      summary: Admin Login
      description: Authenticate admin user with email and password (admin only)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
      responses:
        '200':
          description: Admin login successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    $ref: '#/components/schemas/User'
                  token:
                    type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
  /auth/admin/google:
    post:
      tags:
        - Authentication
      summary: Admin Google OAuth Login
      description: Authenticate admin user with Google OAuth (admin only)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - token
              properties:
                token:
                  type: string
                  description: Google ID token
      responses:
        '200':
          description: Admin Google authentication successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    $ref: '#/components/schemas/User'
                  token:
                    type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '409':
          $ref: '#/components/responses/Conflict'
  /payments/initialize:
    post:
      operationId: initialize
      tags:
        - Payments
      summary: Initialize Payment
      description: |
        Initialize a payment for course or class enrollment using Flutterwave Standard v3.0.0.

        **Special Handling for 100% Discounts:**
        - If a sponsorship code provides 100% discount, the payment is automatically marked as successful
        - No Flutterwave payment is required for free enrollments
        - Enrollment is created immediately
        - Response includes `is_free_enrollment: true` flag

        **Payment Flow Logic:**
        1. **Regular Payments**: User provides payment details → Flutterwave payment → Verification → Enrollment
        2. **Free Enrollments**: Sponsorship code with 100% discount → Immediate enrollment → No payment processing

        **Response Format:**
        - Free enrollments return `is_free_enrollment: true` with immediate enrollment data
        - Regular payments return `is_free_enrollment: false` with Flutterwave checkout URL
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - paymentType
                - itemId
              properties:
                paymentType:
                  type: string
                  enum:
                    - course
                    - class
                  description: Type of item being purchased
                itemId:
                  type: string
                  format: uuid
                  description: ID of the course or class
                paymentMethod:
                  type: string
                  enum:
                    - card
                    - bank_transfer
                    - ussd
                    - mobile_money
                    - mpesa
                    - gh_mobile_money
                  description: Payment method to use (ignored for free enrollments)
                sponsorshipCode:
                  type: string
                  description: Optional sponsorship discount code (can result in free enrollment)
                callbackUrl:
                  type: string
                  description: URL where user will be redirected after payment completion
      responses:
        '200':
          description: Payment initialized successfully
          content:
            application/json:
              schema:
                oneOf:
                  - type: object
                    properties:
                      success:
                        type: boolean
                        example: true
                      message:
                        type: string
                        example: Free enrollment successful
                      data:
                        type: object
                        properties:
                          is_free_enrollment:
                            type: boolean
                            example: true
                            description: Indicates this is a free enrollment (100% discount)
                          enrollment:
                            $ref: '#/components/schemas/Enrollment'
                            description: Immediately created enrollment for free course/class
                          sponsorship:
                            $ref: '#/components/schemas/Sponsorship'
                            description: Sponsorship details that provided the free enrollment
                          originalPrice:
                            type: number
                            description: Original price before discount
                          discountAmount:
                            type: number
                            description: Full discount amount (100% of original price)
                          finalPrice:
                            type: number
                            example: 0
                            description: Final price after discount (0 for free enrollments)
                  - type: object
                    properties:
                      success:
                        type: boolean
                        example: true
                      message:
                        type: string
                        example: Payment initialized successfully
                      data:
                        type: object
                        properties:
                          payment_id:
                            type: string
                            format: uuid
                            description: Internal payment identifier
                          reference:
                            type: string
                            description: Payment reference for tracking
                          flutterwave_reference:
                            type: string
                            description: Flutterwave payment reference
                          checkout_url:
                            type: string
                            description: Flutterwave checkout URL for payment completion
                          original_amount:
                            type: number
                            description: Original price before any discounts
                          final_amount:
                            type: number
                            description: Final amount to pay after discounts
                          discount_amount:
                            type: number
                            description: Amount of discount applied
                          payment_type:
                            type: string
                            enum:
                              - course
                              - class
                            description: Type of item being purchased
                          sponsorship:
                            type: object
                            properties:
                              id:
                                type: string
                                format: uuid
                              discountCode:
                                type: string
                              discountType:
                                type: string
                                enum:
                                  - percentage
                                  - fixed
                              discountValue:
                                type: number
                              discountAmount:
                                type: number
                              originalPrice:
                                type: number
                              finalPrice:
                                type: number
                            description: Sponsorship details if discount code was used
                          is_free_enrollment:
                            type: boolean
                            example: false
                            description: Always false for regular payments
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
  '/payments/verify/{reference}':
    get:
      operationId: verify
      tags:
        - Payments
      summary: Verify Payment
      description: |
        Payment verification method. Called by frontend when user returns from Flutterwave.

        **Handles Both Payment Types:**
        - **Regular payments**: Verifies with Flutterwave and creates enrollment
        - **Free enrollments (100% discount)**: Already marked as successful, proceeds with enrollment

        **Verification Flow:**
        1. **Free Enrollments**: No verification needed, enrollment already exists
        2. **Regular Payments**: Verify with Flutterwave → Confirm payment → Create enrollment

        **Note**: This endpoint is primarily for regular payments. Free enrollments are handled
        immediately during initialization and don't require verification.
      security:
        - bearerAuth: []
      parameters:
        - name: reference
          in: path
          required: true
          schema:
            type: string
          description: Payment reference from our system (TMP_...)
      responses:
        '200':
          description: Payment verified and enrollment completed
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    description: Whether verification was successful
                  message:
                    type: string
                    description: Success or error message
                  payment:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                      amount:
                        type: number
                      status:
                        type: string
                      transactionId:
                        type: string
                    description: Payment details (null for free enrollments)
                  enrollment:
                    $ref: '#/components/schemas/Enrollment'
                    description: Created enrollment details
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /payments/user:
    get:
      operationId: getUserPayments
      tags:
        - Payments
      summary: Get current user's payment history
      description: |
        Retrieve payment history for the authenticated user.

        **Payment Types Included:**
        - Regular payments (with Flutterwave transaction details)
        - Free enrollments (marked with `is_free_enrollment: true`)
        - Failed payments
        - Cancelled payments
      security:
        - bearerAuth: []
      parameters:
        - name: limit
          in: query
          description: Number of results to return
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
        - name: offset
          in: query
          description: Number of results to skip
          schema:
            type: integer
            default: 0
            minimum: 0
      responses:
        '200':
          description: User payments retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  payments:
                    type: array
                    items:
                      $ref: '#/components/schemas/Payment'
        '401':
          $ref: '#/components/responses/Unauthorized'
  '/payments/{id}':
    get:
      operationId: getPaymentById
      tags:
        - Payments
      summary: Get specific payment details
      description: |
        Retrieve detailed information about a specific payment.

        **Payment Details Include:**
        - Payment information (amount, status, method)
        - Sponsorship details (if applicable)
        - Enrollment information
        - Free enrollment flag (`is_free_enrollment`)
      security:
        - bearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: Payment ID
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Payment details retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /admin/payments:
    get:
      operationId: admin-payments
      tags:
        - Admin Payments
      summary: Get payment history with admin details
      description: Retrieve comprehensive payment history with admin-level details
      security:
        - bearerAuth: []
      parameters:
        - name: page
          in: query
          description: Page number
          schema:
            type: integer
            default: 1
            minimum: 1
        - name: limit
          in: query
          description: Number of results per page
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
        - name: status
          in: query
          description: Filter by payment status
          schema:
            type: string
            enum:
              - successful
              - failed
              - pending
        - name: paymentMethod
          in: query
          description: Filter by payment method
          schema:
            type: string
        - name: search
          in: query
          description: Search by user name or transaction ID
          schema:
            type: string
      responses:
        '200':
          description: Admin payment history retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  payments:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                        user_id:
                          type: string
                          format: uuid
                        first_name:
                          type: string
                        last_name:
                          type: string
                        email:
                          type: string
                        amount:
                          type: number
                        currency:
                          type: string
                        status:
                          type: string
                        payment_method:
                          type: string
                        reference:
                          type: string
                        transaction_id:
                          type: string
                        course_title:
                          type: string
                          nullable: true
                        class_title:
                          type: string
                          nullable: true
                        created_at:
                          type: string
                          format: date-time
                  pagination:
                    type: object
                    properties:
                      page:
                        type: integer
                      limit:
                        type: integer
                      total:
                        type: integer
                      pages:
                        type: integer
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /admin/payments/stats:
    get:
      operationId: admin-payments-stats
      tags:
        - Admin Payments
      summary: Get comprehensive payment statistics
      description: Retrieve comprehensive payment statistics for admin dashboard
      security:
        - bearerAuth: []
      parameters:
        - name: period
          in: query
          description: Time period in days
          schema:
            type: integer
            default: 30
            minimum: 1
      responses:
        '200':
          description: Payment statistics retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  overview:
                    type: object
                    properties:
                      total_payments:
                        type: integer
                        description: Total number of payments
                      total_revenue:
                        type: number
                        description: Total revenue generated
                      successful_payments:
                        type: integer
                        description: Number of successful payments
                      failed_payments:
                        type: integer
                        description: Number of failed payments
                      pending_payments:
                        type: integer
                        description: Number of pending payments
                      average_payment:
                        type: number
                        description: Average payment amount
                  methodBreakdown:
                    type: array
                    items:
                      type: object
                      properties:
                        payment_method:
                          type: string
                          description: Payment method used
                        count:
                          type: integer
                          description: Number of payments using this method
                        total_amount:
                          type: number
                          description: Total amount processed through this method
                  dailyStats:
                    type: array
                    items:
                      type: object
                      properties:
                        date:
                          type: string
                          format: date
                          description: Date in YYYY-MM-DD format
                        payment_count:
                          type: integer
                          description: Number of payments on this date
                        daily_revenue:
                          type: number
                          description: Revenue generated on this date
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
  /sponsorships:
    get:
      tags:
        - Sponsorships
      summary: Get all sponsorships for the authenticated sponsor
      description: Retrieve a list of sponsorships created by the authenticated sponsor with optional filtering
      security:
        - BearerAuth: []
      parameters:
        - name: status
          in: query
          description: Filter by sponsorship status
          schema:
            type: string
            enum:
              - active
              - paused
              - expired
              - completed
        - name: courseId
          in: query
          description: Filter by course ID
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: List of sponsorships retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  sponsorships:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                        courseIds:
                          type: array
                          items:
                            type: string
                            format: uuid
                          description: Array of course IDs this sponsorship covers
                        courseTitles:
                          type: array
                          items:
                            type: string
                          description: Array of course titles
                        coursePrices:
                          type: array
                          items:
                            type: number
                          description: Array of course prices
                        discountCode:
                          type: string
                          description: Unique discount code for this sponsorship
                        discountType:
                          type: string
                          enum:
                            - percentage
                            - fixed
                          description: Type of discount (percentage or fixed amount)
                        discountValue:
                          type: number
                          description: Value of the discount
                        maxStudents:
                          type: integer
                          description: Maximum number of students who can use this sponsorship
                        studentsUsed:
                          type: integer
                          description: Number of students who have already used this sponsorship
                        remainingSpots:
                          type: integer
                          description: Number of remaining available spots
                        startDate:
                          type: string
                          format: date-time
                          description: When the sponsorship becomes active
                        endDate:
                          type: string
                          format: date-time
                          description: When the sponsorship expires
                        status:
                          type: string
                          enum:
                            - active
                            - paused
                            - expired
                            - completed
                          description: Current status of the sponsorship
                        completionRate:
                          type: number
                          nullable: true
                          description: Completion rate percentage
                        notes:
                          type: string
                          nullable: true
                          description: Additional notes about the sponsorship
                        isPaid:
                          type: boolean
                          description: Whether the sponsorship has been paid for (admin tracking)
                        paidAt:
                          type: string
                          format: date-time
                          nullable: true
                          description: When the sponsorship was marked as paid
                        paidAmount:
                          type: number
                          nullable: true
                          description: Amount paid for the sponsorship
                        paidCurrency:
                          type: string
                          description: Currency of the payment
                        createdBy:
                          type: string
                          enum:
                            - sponsor
                            - admin
                          description: Who created the sponsorship
                        adminNote:
                          type: string
                          nullable: true
                          description: Internal admin note about the sponsorship
                        invoiceNumber:
                          type: string
                          nullable: true
                          description: Generated invoice number for the sponsorship
                        createdAt:
                          type: string
                          format: date-time
                          description: When the sponsorship was created
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      tags:
        - Sponsorships
      summary: Create a new sponsorship
      description: Create a new sponsorship for one or more courses (sponsor only)
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - courseIds
                - discountType
                - discountValue
                - maxStudents
                - duration
              properties:
                courseIds:
                  type: array
                  minItems: 1
                  items:
                    type: string
                    format: uuid
                  description: Array of course IDs to sponsor (at least one required)
                discountType:
                  type: string
                  enum:
                    - percentage
                    - fixed
                  description: Type of discount to apply
                discountValue:
                  type: number
                  minimum: 0
                  description: Value of the discount (percentage or fixed amount)
                maxStudents:
                  type: integer
                  minimum: 1
                  description: Maximum number of students who can use this sponsorship
                duration:
                  type: integer
                  minimum: 1
                  maximum: 12
                  description: Duration of sponsorship in months (1-12)
                notes:
                  type: string
                  description: Additional notes about the sponsorship
      responses:
        '201':
          description: Sponsorship created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  sponsorId:
                    type: string
                    format: uuid
                  courseIds:
                    type: array
                    items:
                      type: string
                      format: uuid
                  discountCode:
                    type: string
                    description: Generated unique discount code
                  discountType:
                    type: string
                    enum:
                      - percentage
                      - fixed
                  discountValue:
                    type: number
                  maxStudents:
                    type: integer
                  studentsUsed:
                    type: integer
                  startDate:
                    type: string
                    format: date-time
                  endDate:
                    type: string
                    format: date-time
                  status:
                    type: string
                  completionRate:
                    type: number
                    nullable: true
                  createdAt:
                    type: string
                    format: date-time
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  '/sponsorships/{id}':
    get:
      tags:
        - Sponsorships
      summary: Get details of a specific sponsorship
      description: Retrieve detailed information about a specific sponsorship
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: Sponsorship ID
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Sponsorship details retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  sponsorId:
                    type: string
                    format: uuid
                  sponsorName:
                    type: string
                    description: Full name of the sponsor
                  courseIds:
                    type: array
                    items:
                      type: string
                      format: uuid
                  courseTitles:
                    type: array
                    items:
                      type: string
                  coursePrices:
                    type: array
                    items:
                      type: number
                  courseDescriptions:
                    type: array
                    items:
                      type: string
                  discountCode:
                    type: string
                  discountType:
                    type: string
                    enum:
                      - percentage
                      - fixed
                  discountValue:
                    type: number
                  maxStudents:
                    type: integer
                  studentsUsed:
                    type: integer
                  remainingSpots:
                    type: integer
                  startDate:
                    type: string
                    format: date-time
                  endDate:
                    type: string
                    format: date-time
                  status:
                    type: string
                    enum:
                      - active
                      - paused
                      - expired
                      - completed
                  completionRate:
                    type: number
                    nullable: true
                  notes:
                    type: string
                    nullable: true
                  isPaid:
                    type: boolean
                    description: Whether the sponsorship has been paid for (admin tracking)
                  paidAt:
                    type: string
                    format: date-time
                    nullable: true
                    description: When the sponsorship was marked as paid
                  paidAmount:
                    type: number
                    nullable: true
                    description: Amount paid for the sponsorship
                  paidCurrency:
                    type: string
                    description: Currency of the payment
                  createdBy:
                    type: string
                    enum:
                      - sponsor
                      - admin
                    description: Who created the sponsorship
                  adminNote:
                    type: string
                    nullable: true
                    description: Internal admin note about the sponsorship
                  invoiceNumber:
                    type: string
                    nullable: true
                    description: Generated invoice number for the sponsorship
                  createdAt:
                    type: string
                    format: date-time
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags:
        - Sponsorships
      summary: Update sponsorship details
      description: Update an existing sponsorship (owner/admin only)
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: Sponsorship ID
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  enum:
                    - active
                    - paused
                    - expired
                    - completed
                  description: New status for the sponsorship
                notes:
                  type: string
                  description: Updated notes for the sponsorship
                courseIds:
                  type: array
                  items:
                    type: string
                    format: uuid
                  description: Optional new array of course IDs to replace the sponsorship's linked courses
      responses:
        '200':
          description: Sponsorship updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  status:
                    type: string
                    enum:
                      - active
                      - paused
                      - expired
                      - completed
                  notes:
                    type: string
                    nullable: true
                  updatedAt:
                    type: string
                    format: date-time
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags:
        - Sponsorships
      summary: Delete a sponsorship
      description: Delete a sponsorship (owner/admin only). Cannot delete if already used.
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: Sponsorship ID
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Sponsorship deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Sponsorship deleted successfully
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  '/sponsorships/{id}/use':
    post:
      tags:
        - Sponsorships
      summary: Use a sponsorship code for enrollment
      description: Apply a sponsorship code to enroll in a course
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: Sponsorship ID
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - studentId
                - courseId
              properties:
                studentId:
                  type: string
                  format: uuid
                  description: ID of the student using the sponsorship
                courseId:
                  type: string
                  format: uuid
                  description: ID of the course to enroll in
      responses:
        '200':
          description: Sponsorship code applied successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  originalPrice:
                    type: number
                    description: Original price before discount
                  discountAmount:
                    type: number
                    description: Amount of discount applied
                  finalPrice:
                    type: number
                    description: Final price after discount
                  message:
                    type: string
                    example: Sponsorship code applied successfully
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  '/sponsorships/{id}/stats':
    get:
      tags:
        - Sponsorships
      summary: Get detailed sponsorship statistics
      description: Retrieve comprehensive statistics for a specific sponsorship (owner/admin only)
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: Sponsorship ID
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Sponsorship statistics retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  sponsorship:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                      courseTitle:
                        type: string
                        description: Comma-separated list of course titles
                      discountCode:
                        type: string
                      discountType:
                        type: string
                        enum:
                          - percentage
                          - fixed
                      discountValue:
                        type: number
                      maxStudents:
                        type: integer
                      studentsUsed:
                        type: integer
                      completionRate:
                        type: number
                        nullable: true
                      status:
                        type: string
                        enum:
                          - active
                          - paused
                          - expired
                          - completed
                  stats:
                    type: object
                    properties:
                      totalUsage:
                        type: integer
                        description: Total number of times sponsorship was used
                      totalDiscountGiven:
                        type: number
                        description: Total amount of discount given
                      averageFinalPrice:
                        type: number
                        description: Average final price paid by students
                      utilizationRate:
                        type: string
                        description: Percentage of sponsorship utilization
                  monthlyStats:
                    type: array
                    items:
                      type: object
                      properties:
                        month:
                          type: string
                          format: date-time
                          description: Month in YYYY-MM format
                        studentsEnrolled:
                          type: integer
                          description: Number of students enrolled in that month
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  '/sponsorships/{id}/email':
    post:
      tags:
        - Sponsorships
      summary: Send sponsorship details via email
      description: Send sponsorship information to a recipient via email (owner/admin only)
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: Sponsorship ID
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - recipientEmail
              properties:
                recipientEmail:
                  type: string
                  format: email
                  description: Email address of the recipient
                isForRecipient:
                  type: boolean
                  default: true
                  description: Whether the email is intended for the recipient
                customMessage:
                  type: string
                  description: Custom message to include in the email
      responses:
        '200':
          description: Sponsorship email sent successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: Sponsorship details sent successfully
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  '/sponsorships/code/{discountCode}':
    get:
      tags:
        - Sponsorships
      summary: Validate a sponsorship discount code
      description: |
        Public endpoint to validate a sponsorship discount code.

        **Frontend Integration Flow:**
        1. **User enters discount code** in checkout UI
        2. **Validate code** via this endpoint (no auth required)
        3. **Check validity** using `valid` field and `isExpired`/`isFull` flags
        4. **Extract sponsorship UUID** from `sponsorship.id` (NOT the discount code)
        5. **Proceed to enrollment** using the sponsorship UUID

        **Enrollment Flow:**
        - **100% discount**: Use POST `/courses/{courseId}/enroll` with `{ sponsorshipId }`
        - **Partial discount**: Use POST `/payments/initialize` with sponsorship details

        **Key Points:**
        - **NEVER send discount codes directly** to enrollment endpoints
        - **ALWAYS validate first** to get the sponsorship UUID
        - **Use sponsorship.id** (UUID), not the discount code string
        - **Check isExpired and isFull** before allowing enrollment
        - **100% discounts** result in immediate free enrollment
        - **Partial discounts** require payment processing

        **Error Handling:**
        - Invalid codes: Show error message and disable continue
        - Expired codes: Show "expired" message and disable enrollment
        - Full capacity: Show "full" message and disable enrollment
        - Wrong course: Show "wrong course" message and disable enrollment
      parameters:
        - name: discountCode
          in: path
          required: true
          description: 'Discount code to validate (e.g., "SPONSOR123")'
          schema:
            type: string
      responses:
        '200':
          description: Sponsorship code validation result
          content:
            application/json:
              schema:
                type: object
                properties:
                  valid:
                    type: boolean
                    description: Whether the code is valid and can be used
                  sponsorship:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                        description: |
                          **IMPORTANT**: Use this UUID as `sponsorshipId` when enrolling.
                          This is NOT the discount code - it's the internal sponsorship ID.
                      courseNames:
                        type: array
                        items:
                          type: string
                        description: Array of course names this sponsorship covers
                      coursePrices:
                        type: array
                        items:
                          type: number
                        description: Array of course prices
                      courseIds:
                        type: array
                        items:
                          type: string
                          format: uuid
                        description: Array of course IDs
                      discountType:
                        type: string
                        enum:
                          - percentage
                          - fixed
                        description: Type of discount (percentage or fixed amount)
                      discountValue:
                        type: number
                        description: Value of the discount (percentage as decimal or fixed amount)
                      maxStudents:
                        type: integer
                        description: Maximum number of students who can use this sponsorship
                      studentsUsed:
                        type: integer
                        description: Number of students who have already used this sponsorship
                      remainingSpots:
                        type: integer
                        description: Number of remaining available spots
                      startDate:
                        type: string
                        format: date-time
                        description: When the sponsorship becomes active
                      endDate:
                        type: string
                        format: date-time
                        description: When the sponsorship expires
                      isExpired:
                        type: boolean
                        description: Whether the sponsorship has expired (check this before enrollment)
                      isFull:
                        type: boolean
                        description: Whether the sponsorship is full (check this before enrollment)
                  message:
                    type: string
                    description: Human-readable message about the validation result
              examples:
                valid_sponsorship:
                  summary: Valid sponsorship code response
                  value:
                    valid: true
                    sponsorship:
                      id: 550e8400-e29b-41d4-a716-446655440000
                      courseNames:
                        - JavaScript Fundamentals
                        - Advanced JavaScript
                      coursePrices:
                        - 99.99
                        - 149.99
                      courseIds:
                        - uuid1
                        - uuid2
                      discountType: percentage
                      discountValue: 20
                      maxStudents: 50
                      studentsUsed: 25
                      remainingSpots: 25
                      startDate: '2024-01-01T00:00:00Z'
                      endDate: '2024-12-31T23:59:59Z'
                      isExpired: false
                      isFull: false
                    message: Valid sponsorship code for JavaScript Fundamentals and Advanced JavaScript courses
                expired_sponsorship:
                  summary: Expired sponsorship code response
                  value:
                    valid: false
                    sponsorship:
                      id: 550e8400-e29b-41d4-a716-446655440001
                      courseNames:
                        - Python Basics
                      coursePrices:
                        - 79.99
                      courseIds:
                        - uuid3
                      discountType: percentage
                      discountValue: 15
                      maxStudents: 30
                      studentsUsed: 30
                      remainingSpots: 0
                      startDate: '2024-01-01T00:00:00Z'
                      endDate: '2024-06-30T23:59:59Z'
                      isExpired: true
                      isFull: true
                    message: This sponsorship code has expired and is no longer valid
        '400':
          $ref: '#/components/responses/BadRequest'
  /admin/sponsorships:
    post:
      tags:
        - Sponsorships
      summary: Create a new sponsorship as admin
      description: |
        Create a new sponsorship with admin privileges. This allows admins to create sponsorships
        that may not pass through a paywall, track whether they are paid, and generate invoice data.

        **Admin Features:**
        - Sets `created_by = 'admin'`
        - Supports multi-course sponsorships via `courseIds` array
        - Automatically generates invoice number
        - Tracks payment status for offline payments
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - sponsorId
                - courseIds
                - discountType
                - discountValue
                - maxStudents
                - startDate
                - endDate
              properties:
                sponsorId:
                  type: string
                  format: uuid
                  description: ID of the sponsor
                courseIds:
                  type: array
                  minItems: 1
                  items:
                    type: string
                    format: uuid
                  description: Array of course IDs to sponsor (at least one required)
                discountType:
                  type: string
                  enum:
                    - percentage
                    - fixed
                  description: Type of discount to apply
                discountValue:
                  type: number
                  minimum: 0
                  description: Value of the discount (percentage or fixed amount)
                maxStudents:
                  type: integer
                  minimum: 1
                  description: Maximum number of students who can use this sponsorship
                startDate:
                  type: string
                  format: date
                  description: Start date when the sponsorship becomes active
                endDate:
                  type: string
                  format: date
                  description: End date when the sponsorship expires
                notes:
                  type: string
                  description: Additional notes about the sponsorship
                adminNote:
                  type: string
                  description: Internal admin note about the sponsorship
      responses:
        '201':
          description: Sponsorship created successfully by admin
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  sponsorId:
                    type: string
                    format: uuid
                  courseIds:
                    type: array
                    items:
                      type: string
                      format: uuid
                  courseTitles:
                    type: array
                    items:
                      type: string
                  discountCode:
                    type: string
                    description: Generated unique discount code
                  discountType:
                    type: string
                    enum:
                      - percentage
                      - fixed
                  discountValue:
                    type: number
                  maxStudents:
                    type: integer
                  startDate:
                    type: string
                    format: date-time
                  endDate:
                    type: string
                    format: date-time
                  createdBy:
                    type: string
                    enum:
                      - admin
                  adminNote:
                    type: string
                    nullable: true
                  invoiceNumber:
                    type: string
                    description: Generated invoice number
                  isPaid:
                    type: boolean
                    default: false
                  createdAt:
                    type: string
                    format: date-time
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  '/admin/sponsorships/{id}/payment-status':
    get:
      tags:
        - Sponsorships
      summary: Get sponsorship payment status
      description: |
        Retrieve the payment status of a sponsorship for admin tracking and reporting.
        This endpoint provides information about whether a sponsorship has been paid for,
        when it was paid, and payment details.
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: Sponsorship ID
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Sponsorship payment status retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  isPaid:
                    type: boolean
                    description: Whether the sponsorship has been paid for
                  paidAt:
                    type: string
                    format: date-time
                    nullable: true
                    description: When the sponsorship was marked as paid
                  paidAmount:
                    type: number
                    nullable: true
                    description: Amount paid for the sponsorship
                  paidCurrency:
                    type: string
                    default: USD
                    description: Currency of the payment
                  paymentId:
                    type: string
                    format: uuid
                    nullable: true
                    description: Reference to payment record
                  paymentReference:
                    type: string
                    nullable: true
                    description: External payment reference
                  invoiceNumber:
                    type: string
                    nullable: true
                    description: Generated invoice number
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  '/admin/sponsorships/{id}/mark-paid':
    post:
      tags:
        - Sponsorships
      summary: Mark sponsorship invoice as paid
      description: |
        Mark a sponsorship as paid for admin tracking. This is used when sponsors pay offline
        or through other payment methods not processed through the system.

        **Use Cases:**
        - Bank transfers
        - Offline payments
        - Manual payment recording
        - Invoice reconciliation
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: Sponsorship ID
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                amount:
                  type: number
                  minimum: 0.01
                  description: 'Amount paid (optional, will use calculated amount if not provided)'
                currency:
                  type: string
                  default: USD
                  description: Currency of the payment
                paymentId:
                  type: string
                  format: uuid
                  description: Reference to payment record (optional)
                reference:
                  type: string
                  description: 'External payment reference (e.g., bank transfer reference)'
                paidAt:
                  type: string
                  format: date-time
                  description: When the payment was made (defaults to current time if not provided)
      responses:
        '200':
          description: Sponsorship marked as paid successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  isPaid:
                    type: boolean
                    example: true
                  paidAt:
                    type: string
                    format: date-time
                  paidAmount:
                    type: number
                  paidCurrency:
                    type: string
                  paymentId:
                    type: string
                    format: uuid
                    nullable: true
                  paymentReference:
                    type: string
                    nullable: true
                  invoiceNumber:
                    type: string
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  '/admin/sponsorships/{id}/invoice':
    get:
      tags:
        - Sponsorships
      summary: Generate sponsorship invoice
      description: |
        Generate a comprehensive invoice for a sponsorship including sponsor info, courses,
        sponsorship terms, and payment metadata.

        **Features:**
        - Automatically generates `invoice_number` if missing
        - Calculates invoice amount based on course prices and max students
        - Includes sponsor details and course information
        - Shows payment status and metadata

        **Invoice Number Format:** `INV-YYMM-<sponsorshipIdPrefix>`
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: Sponsorship ID
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Sponsorship invoice generated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  invoiceNumber:
                    type: string
                    description: Generated invoice number
                  issueDate:
                    type: string
                    format: date-time
                    description: When the invoice was issued
                  dueDate:
                    type: string
                    format: date-time
                    description: When the invoice is due
                  status:
                    type: string
                    enum:
                      - unpaid
                      - paid
                    description: Current payment status
                  sponsor:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                      name:
                        type: string
                      email:
                        type: string
                        format: email
                  sponsorship:
                    type: object
                    properties:
                      id:
                        type: string
                        format: uuid
                      discountCode:
                        type: string
                      discountType:
                        type: string
                        enum:
                          - percentage
                          - fixed
                      discountValue:
                        type: number
                      maxStudents:
                        type: integer
                      startDate:
                        type: string
                        format: date
                      endDate:
                        type: string
                        format: date
                      createdBy:
                        type: string
                        enum:
                          - sponsor
                          - admin
                      adminNote:
                        type: string
                        nullable: true
                  courses:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                        title:
                          type: string
                        price:
                          type: number
                  amount:
                    type: number
                    description: Calculated invoice amount
                  payment:
                    type: object
                    properties:
                      isPaid:
                        type: boolean
                      paidAt:
                        type: string
                        format: date-time
                        nullable: true
                      amount:
                        type: number
                        nullable: true
                      currency:
                        type: string
                      paymentId:
                        type: string
                        format: uuid
                        nullable: true
                      reference:
                        type: string
                        nullable: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  /sponsorship-opportunities:
    get:
      tags:
        - Sponsorship Opportunities
      summary: Get list of sponsorship opportunities
      description: Retrieve a list of available sponsorship opportunities (public endpoint)
      parameters:
        - name: isActive
          in: query
          description: Filter by active status
          schema:
            type: boolean
        - name: urgency
          in: query
          description: Filter by urgency level
          schema:
            type: string
            enum:
              - low
              - medium
              - high
        - name: limit
          in: query
          description: Number of results to return
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
        - name: offset
          in: query
          description: Number of results to skip
          schema:
            type: integer
            default: 0
            minimum: 0
      responses:
        '200':
          description: List of opportunities retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  opportunities:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                        courseId:
                          type: string
                          format: uuid
                        courseName:
                          type: string
                        courseDescription:
                          type: string
                        courseDuration:
                          type: string
                        courseTopic:
                          type: string
                        instructor:
                          type: string
                          nullable: true
                        instructorAvatar:
                          type: string
                          nullable: true
                        targetStudents:
                          type: integer
                        fundingGoal:
                          type: number
                        fundingRaised:
                          type: number
                        fundingProgress:
                          type: string
                          description: 'Percentage as string (e.g., "75.50")'
                        urgency:
                          type: string
                          enum:
                            - low
                            - medium
                            - high
                        demographics:
                          type: string
                          nullable: true
                        impactDescription:
                          type: string
                          nullable: true
                        isActive:
                          type: boolean
                        createdAt:
                          type: string
                          format: date-time
                        updatedAt:
                          type: string
                          format: date-time
        '400':
          $ref: '#/components/responses/BadRequest'
    post:
      tags:
        - Sponsorship Opportunities
      summary: Create a new sponsorship opportunity
      description: Create a new sponsorship opportunity (instructor/admin only)
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - courseId
                - targetStudents
                - fundingGoal
                - urgency
                - demographics
                - impactDescription
              properties:
                courseId:
                  type: string
                  format: uuid
                  description: ID of the course seeking sponsorship
                targetStudents:
                  type: integer
                  minimum: 1
                  description: Target number of students to sponsor
                fundingGoal:
                  type: number
                  minimum: 0
                  description: Funding goal amount
                urgency:
                  type: string
                  enum:
                    - low
                    - medium
                    - high
                  description: Urgency level of the opportunity
                demographics:
                  type: string
                  description: Target student demographics
                impactDescription:
                  type: string
                  description: Description of the impact this sponsorship will have
      responses:
        '201':
          description: Opportunity created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  courseId:
                    type: string
                    format: uuid
                  targetStudents:
                    type: integer
                  fundingGoal:
                    type: number
                  fundingRaised:
                    type: number
                  urgency:
                    type: string
                    enum:
                      - low
                      - medium
                      - high
                  demographics:
                    type: string
                    nullable: true
                  impactDescription:
                    type: string
                    nullable: true
                  isActive:
                    type: boolean
                  createdAt:
                    type: string
                    format: date-time
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  '/sponsorship-opportunities/{id}':
    get:
      tags:
        - Sponsorship Opportunities
      summary: Get details of a specific opportunity
      description: Retrieve detailed information about a specific sponsorship opportunity (public endpoint)
      parameters:
        - name: id
          in: path
          required: true
          description: Opportunity ID
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Opportunity details retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  courseId:
                    type: string
                    format: uuid
                  courseName:
                    type: string
                  courseDescription:
                    type: string
                  courseDuration:
                    type: string
                  courseTopic:
                    type: string
                  coursePrice:
                    type: number
                  instructor:
                    type: string
                    nullable: true
                  instructorAvatar:
                    type: string
                    nullable: true
                  instructorBio:
                    type: string
                    nullable: true
                  targetStudents:
                    type: integer
                  fundingGoal:
                    type: number
                  fundingRaised:
                    type: number
                  fundingProgress:
                    type: string
                    description: 'Percentage as string (e.g., "75.50")'
                  urgency:
                    type: string
                    enum:
                      - low
                      - medium
                      - high
                  demographics:
                    type: string
                    nullable: true
                  impactDescription:
                    type: string
                    nullable: true
                  isActive:
                    type: boolean
                  createdAt:
                    type: string
                    format: date-time
                  updatedAt:
                    type: string
                    format: date-time
        '404':
          $ref: '#/components/responses/NotFound'
    put:
      tags:
        - Sponsorship Opportunities
      summary: Update opportunity details
      description: Update an existing opportunity (owner/admin only)
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: Opportunity ID
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                targetStudents:
                  type: integer
                  minimum: 1
                  description: Updated target number of students
                fundingGoal:
                  type: number
                  minimum: 0
                  description: Updated funding goal amount
                urgency:
                  type: string
                  enum:
                    - low
                    - medium
                    - high
                  description: Updated urgency level
                demographics:
                  type: string
                  description: Updated target student demographics
                impactDescription:
                  type: string
                  description: Updated impact description
                isActive:
                  type: boolean
                  description: Whether the opportunity is active
      responses:
        '200':
          description: Opportunity updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                  targetStudents:
                    type: integer
                  fundingGoal:
                    type: number
                  fundingRaised:
                    type: number
                  urgency:
                    type: string
                    enum:
                      - low
                      - medium
                      - high
                  demographics:
                    type: string
                    nullable: true
                  impactDescription:
                    type: string
                    nullable: true
                  isActive:
                    type: boolean
                  updatedAt:
                    type: string
                    format: date-time
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
    delete:
      tags:
        - Sponsorship Opportunities
      summary: Delete an opportunity
      description: Delete a sponsorship opportunity (owner/admin only)
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: Opportunity ID
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Opportunity deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Sponsorship opportunity deleted successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
  '/sponsorship-opportunities/{id}/contribute':
    post:
      tags:
        - Sponsorship Opportunities
      summary: Contribute to a sponsorship opportunity
      description: Make a contribution to a sponsorship opportunity
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          description: Opportunity ID
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - amount
              properties:
                amount:
                  type: number
                  minimum: 0.01
                  description: Contribution amount (must be greater than 0)
                message:
                  type: string
                  description: Optional message with the contribution
      responses:
        '200':
          description: Contribution recorded successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  amount:
                    type: number
                    description: Contribution amount
                  newFundingRaised:
                    type: number
                    description: Updated total funding raised
                  message:
                    type: string
                    example: Contribution recorded successfully
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
  /discussions/recent:
    get:
      tags:
        - Discussions
      summary: Get recent discussions (public endpoint)
      description: 'Retrieve recent discussions with optional filtering by course, class, author, and sorting'
      parameters:
        - name: course_id
          in: query
          description: Filter by course ID
          schema:
            type: string
            format: uuid
        - name: class_id
          in: query
          description: Filter by class ID
          schema:
            type: string
            format: uuid
        - name: author
          in: query
          description: Filter by author name (partial match)
          schema:
            type: string
        - name: sort
          in: query
          description: Sort field
          schema:
            type: string
            enum:
              - created_at
              - title
              - reply_count
              - view_count
            default: created_at
        - name: order
          in: query
          description: Sort order
          schema:
            type: string
            enum:
              - asc
              - desc
            default: desc
        - name: page
          in: query
          description: Page number
          schema:
            type: integer
            default: 1
            minimum: 1
        - name: limit
          in: query
          description: Items per page
          schema:
            type: integer
            default: 20
            minimum: 1
            maximum: 100
      responses:
        '200':
          description: Recent discussions retrieved successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  discussions:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          format: uuid
                        title:
                          type: string
                        content:
                          type: string
                        createdAt:
                          type: string
                          format: date-time
                        updatedAt:
                          type: string
                          format: date-time
                        replyCount:
                          type: integer
                        viewCount:
                          type: integer
                        isPinned:
                          type: boolean
                        isLocked:
                          type: boolean
                        author:
                          type: object
[...]
